{% load static %}
{% load i18n %}
<style>
    .flag-icon {
        margin-right: 8px;
    }
</style>
<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">

    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
            aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="#">
        <div class="d-flex align-items-center">
            <img class="me-2" src="{% static 'apps/assets/img/icons/spot-illustrations/falcon.png' %}"
                 alt="" width="40"/>
            <span class="font-sans-serif">falcon</span>
        </div>
    </a>
    <ul class="navbar-nav align-items-center d-none d-lg-block">
        <li class="nav-item">
            <div class="search-box" data-list='{"valueNames":["title"]}'>
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static"
                      action="{% url 'product_list' %}">
                    <input class="form-control search-input fuzzy-search" type="search" name="search"
                           placeholder="{% trans 'Search' %}" aria-label="Search"/>
                    <span class="fas fa-search search-box-icon"></span>
                </form>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <select class="flag-select" onchange="changeLanguage(this.value)">
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>en 🇬🇧</option>
            <option value="uz" {% if LANGUAGE_CODE == 'uz' %}selected{% endif %}>uz 🇺🇿</option>
            <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>ru 🇷🇺</option>
        </select>
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                       type="checkbox" data-theme-control="theme" value="dark"/>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                       for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                       title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                       for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                       title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'like_list' %}" style="text-decoration: none; color: inherit;">
                <span style="position: relative;">
                        <i class="fas fa-heart" style="color: red; font-size: 20px;"></i>
                    <span class="badge"
                          style="position: absolute; top: -20px; right: -13px; background-color: #FF5733; color: white; 
                        border-radius: 50%; padding: 2px 6px; font-size: 12px;">{{ user.likes.count }}
                    </span>
                </span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link notification-indicator notification-indicator-primary px-0 fa-icon-wait"
               id="navbarDropdownNotification" href="#" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell"
                                                                data-fa-transform="shrink-6"
                                                                style="font-size: 33px;"></span></a>

            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card dropdown-menu-notification"
                 aria-labelledby="navbarDropdownNotification">
                <div class="card card-notification shadow-none">
                    <div class="card-header">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h6 class="card-header-title mb-0">{% trans 'Notifications' %}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="scrollbar-overlay" style="max-height:19rem">
                        <div class="list-group list-group-flush fw-normal fs--1">
                            <div class="list-group-title border-bottom">{% trans 'NEW' %}</div>
                            <div class="list-group-item">
                                <a class="notification notification-flush notification-unread" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown"><a class="nav-link pe-0" id="navbarDropdownUser" href="#"
                                         role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                         aria-expanded="false">
            <div class="avatar avatar-xl">
                {% if user.image %}
                    <img class="rounded-circle" src="{{ user.image.url }}" alt=""/>
                {% else %}
                    <img class="rounded-circle" src="{% static 'apps/images/user_image.jpeg' %}" alt=""/>
                {% endif %}
            </div>
        </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    {% if user.is_authenticated %}
                        {% if user.is_operator %}
                            <a class="dropdown-item fw-bold text-warning" href="{% url 'new_orders' %}">
                            <span class="fas fa-crown me-1"></span>
                            <span>{% trans 'For operators' %}</span>
                        {% endif %}
                    </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                        <a class="dropdown-item" href="https://t.me/Tohir_PD">{% trans 'Opinions' %}</a>
                        <a class="dropdown-item" href="{% url 'profile_update' %}">{% trans 'Settings' %}</a>
                        <div class="dropdown-divider"></div>
                        <form action="{% url 'logout' %}" method="post" class="dropdown-item">
                            {% csrf_token %}
                            <input type="submit" value="Logout" style="background-color:red; border-radius:5px">
                        </form>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'register' %}">{% trans 'Sign Up' %}</a>
                        <a class="dropdown-item" href="{% url 'login' %}">{% trans 'Sign In' %}</a>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
</nav>
<script>
    function changeLanguage(lang) {
        var url = window.location.href;
        var pathArray = window.location.pathname.split('/');
        pathArray[1] = lang;
        var newPathname = pathArray.join('/');
        window.location.href = newPathname;
    }
</script>