{% extends 'base.html' %}

{% block content %}
    
    <div class="card mb-3">
        <div class="card-body">
            <div class="container" style="padding-top: 10px;">
                <div class="content_cart">

                    <div class="content_single-product-nouser">
                        <div class="row">

                            <div class="col-md-4 p-5">
                                <h3>Mahsulot: Telefon zaryadlovchi mini Powerbank</h3>
                                <small>Mahsulot narxi: 69000</small>
                                <p>Soni: 1</p>
                            </div>

                            <div class="col-md-4 p-5">
                                <h3>Mahsulot: Bassen Stoykalik 220ga 150x60 1tonna 660 litr</h3>
                                <small>Mahsulot narxi: 1030000</small>
                                <p>Soni: 1</p>
                            </div>

                            <div class="col-md-4 p-5">
                                <h3>Mahsulot: Bassen Stoykalik 220ga 150x60 1tonna 660 litr</h3>
                                <small>Mahsulot narxi: 1030000</small>
                                <p>Soni: 1</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}