{% extends 'apps/operator/operator-base.html' %}
{% load static %}
{% load humanize %}
{% block status_content %}
    <style>
        .card.border-dark.mt-5:hover {
            box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
            color: #333;
            transform: scale(1.05);
            transition: all 0.3s ease;
        }
    </style>
    <div class="col-md-10" style="margin-left: 16%;">
        <div class="bg-light w-75 m-auto mt-5">
            <form method="GET">
                <div>
                    <label for="location">Viloyat</label>
                    <select name="region" class="form-control" id="region-select">
                        <option></option>
                        {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Tuman/Shahar</label>
                    <select name="district" class="form-control" id="district-select">
                        <option></option>
                        {% for district in districts %}
                            <option value="{{ district.id }}">{{ district.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Mahsulotlar</label>
                    <select name="product" class="form-control" id="product-select">
                        <option></option>
                        {% for product in products %}
                            <option value="{{ product.title }}">{{ product.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <input class="btn btn-primary" type="submit" value="Saqlash">
            </form>
            <form method="POST" action="">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Kuryer" style="margin-top: 10px;">
                <input id="select" type="checkbox" onClick="toggle(this)"/> Toggle All<br/>
                {% for order in orders %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="orders" value="" id="order-1">
                        <div class="card border-dark mt-5">
                                <span style="position: absolute; right: 0px; border: 1px solid chartreuse; background: chartreuse; 
                                    padding: 15px; font-size: 26px; font-weight: 700;"> {{ order.operator_id }}
                                </span>
                            <div class="card-body">
                                <h2 class="card-title">{{ order.product.title }}</h2>
                                <ul class="text-muted">
                                    <li class="">ID: {{ order.pk }}</li>
                                    <li class="">Client: {{ order.name }}</li>
                                    <li class="">Phone: +998{{ order.phone_number }}</li>
                                    <li class="">Narxi: {{ order.product.price|intcomma }} so'm
                                        <strong>CHEGIRMA</strong> {{ order.stream.discount|default_if_none:'mavjud emas' }}
                                        so'm
                                    </li>
                                    <li class="">Soni: {{ order.quantity }}</li>
                                    <li class="">Komment: {{ order.description }}</li>
                                    <li class="">Manzil: {{ order.district.region.name }} viloyati 
                                        {{ order.district.name }} ga</li>
                                    <li class="">Yetkazilish vaqti: {{ order.send_order_date }}</li>
                                    <li class="">Oqim ID: {{ order.stream.pk|default_if_none:'mavjud emas' }}</li>
                                    <li class="" style="color: blue">Status: {{ order.get_status_display }}</li>
                                </ul>
                                <a href="{% url 'order_change' order.pk %}" class="btn btn-primary">Holatini
                                    o'zgartirish</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
{% block checkbox_js %}
    <script>
        function toggle(source) {
            checkboxes = document.getElementsByName('orders');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                console.log('askar')
                checkboxes[i].checked = source.checked;
            }
        }
    </script>

    <script>
        $(function () {
            $('select').multipleSelect({
                multiple: true,
                multipleWidth: 500,
                maxHeight: 200,
                maxHeightUnit: 50,
                filter: true
            })
        })
    </script>
{% endblock %}
