{% extends 'apps/base-window.html' %}
{% block content %}
    <div class="content_auth_form">
        <div class="content_auth_form_group">
            <div class="content_auth_form_group_input">
                <div class="card">
                    <div class="card-header bg-circle-shape bg-shape text-center p-2"><a
                            class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light"
                            href="/">Alijahon</a></div>
                    <div class="card-body p-4">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h3>Ro'yxatdan o'tish</h3>
                            </div>
                        </div>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="split-login-email">
                                        Telefon nomer</label>
                                </div>
                                <input type="text" name="phone" id="phone-mask" class="form-control">
                            </div>


                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="split-login-password">Parolni kiritng</label>
                                </div>
                                <input class="form-control" name="password1" id="split-login-password"
                                       type="password">
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="split-login-password">Parolni takrorlang</label>
                                </div>
                                <input class="form-control" name="password2" id="split-login-password"
                                       type="password">
                            </div>
                            <div class="row flex-between-center">
                                <div class="col-auto">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" autocomplete="on" type="checkbox"
                                               id="split-checkbox">
                                        <label class="form-check-label mb-0" for="split-checkbox">
                                            Men qoidalar bilan tanishdim</label>
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <a class="fs--1" href="#">
                                        Foydalanish shartlari
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
                                    saqlash
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}