{% extends 'apps/parts/base-window.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 btn-reveal-trigger">
                <div class="card-header position-relative min-vh-25 mb-8">
                    <form method="post" action="{% url 'image_update' %}"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="cover-image">
                            {% if user.background_image %}
                                <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url({{ user.background_image.url }});"></div>
                            {% endif %}
                            <input class="d-none" id="upload-cover-image" name="background_image" type="file" />
                            <label class="cover-image-file-input" for="upload-cover-image"><span
                                    class="fas fa-camera me-2"></span><span>Change cover photo</span>
                            </label>
                        </div>
                        <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
                                {% if user.image %}
                                    <img src="{{ user.image.url }}" data-dz-thumbnail="data-dz-thumbnail"/>
                                {% endif %}
                                <input class="d-none" id="profile-image"  name="image" type="file"/>
                                <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                                        class="bg-holder overlay overlay-0"></span><span
                                        class="z-index-1 text-white dark__text-white text-center fs--1"><span
                                        class="fas fa-camera"></span><button class="d-block">Update</button></span>
                                </label>
                            </div>
                        </div>
                  </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Sozlamalar</h5>
                </div>
                <div class="card-body bg-light">
                    <form class="row g-3" action="{% url 'profile_update' %}" method="post">
                        {% csrf_token %}
                        <div class="col-lg-6">Ismi
                            <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control"
                                   maxlength="30" id="id_first_name">
                        </div>
                        <div class="col-lg-6">Familiya
                            <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}"
                                   maxlength="40" id="id_last_name">
                        </div>
                        <div class="col-lg-6">Viloyat
                            <select name="region" class="form-control" id="region-select">
                                <option>Viloyatni tanlang</option>
                                {% for region in regions %}
                                    {% if user.region.id == region.id %}
                                        <option selected value="{{ region.id }}">{{ region.name }}</option>
                                    {% else %}
                                        <option value="{{ region.id }}">{{ region.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6">Tuman/Shahar
                            <select name="district" class="form-control" id="district-select">
                                <option>Tumanni tanlang</option>
                                {% for district in districts %}
                                    {% if user.district.id == district.id %}
                                        <option selected value="{{ district.id }}">{{ district.name }}</option>
                                    {% else %}
                                        <option  value="{{ district.id }}">{{ district.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6">Siz haqingizda
                            <textarea name="about" cols="40" rows="10" class="form-control" maxlength="399" 
                                      id="id_description">{{ user.about }}
                            </textarea>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-4 ps-lg-2">
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Parolni o'zgartirish</h5>
                    </div>
                    <div class="card-body bg-light">
                        <form method="post" action="{% url 'password_update' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label" for="old-password">Oldingi parol</label>
                                <input class="form-control" name="old_password" id="old-password" type="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="new-password">Yangi parol</label>
                                <input class="form-control" name="new_password" id="new-password" type="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="confirm-password">Yangi parolni
                                    takrorlash</label>
                                <input class="form-control" name="conform_password" id="confirm-password"
                                       type="password">
                            </div>
                            <button class="btn btn-primary d-block w-100" type="submit">Parolni yangilash
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block region_district_js %}
   <script>
$(document).ready(function () {
    $('#region-select').change(function () {
        var regionId = $(this).val();
        var $districtSelect = $('#district-select');
        $districtSelect.empty();
        $districtSelect.append('<option value="">All District</option>');

        if (regionId) {
            $.ajax({
                url: '/ajax/get-district/' + regionId,
                success: function (data) {
                    $.each(data, function (index, district) {
                        $districtSelect.append('<option value="' + district.id + '">' + district.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred:', error);
                }
            });
        }
    });
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
