<div class="col-md-2 h-70 text-center" style="background-color: #38ffae; padding-right: 0; position:absolute;">
    <div class="list-group text-light w-100 h-100">
        <a style="height: 13%" href="/operator/new"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <h6>Yangi buyurtmalar</h6>
        </a>
        <a style="height: 13%" href="/operator/ready"
           class="btn btn-primary list-group-item text-dark mt-1  active ">
            <div>
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <h6>Dostavka tayyor</h6>
        </a>
        <a style="height: 13%" href="/operator/delivering"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <h6>Yetkazilmoqda</h6>
        </a>
        <a style="height: 13%" href="/operator/waiting"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <h6>Keyin oladi</h6>
        </a>
        <a style="height: 13%" href="/operator/archived"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-archive" aria-hidden="true"></i>
            </div>
            <h6>Arxivlandi</h6>
        </a>
        <a style="height: 13%" href="/operator/broken"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-chain-broken" aria-hidden="true"></i>
            </div>
            <h6>Nosoz, bekor qilindi</h6>
        </a>
        <a style="height: 13%" href="/operator/delivered"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <h6>Yetkazib berildi</h6>
        </a>
        <a style="height: 13%" href="/operator/cancelled"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <h6>Qaytib keldi</h6>
        </a>
        <a style="height: 13%" href="/operator/hold"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <h6>Hold</h6>
        </a>
        <a style="height: 13%" href="/operator/all"
           class="btn btn-primary list-group-item text-dark mt-1 ">
            <div>
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <h6>Hammasi</h6>
        </a>
    </div>
</div>