{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Operatorlar bo'limi
        - alijahon.uz</title>
    <link rel="stylesheet" href="{% static 'apps/operator/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'apps/operator/font-awesome.min.css' %}">
    <link href="{% static 'apps/operator/multiple-select.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        select {
            width: 100%;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark text-white" style="height: 10%;">
        <div style="margin-left: 15px;">{{ user.first_name }}</div>
        <div>Buyurtmalar</div>
        <h4>ID: {{ user.id }} </h4>
        <a href="{% url 'product_list' %}" class="btn btn-danger btn-sm">Asosiy panel</a>
    </nav>
    <div class="row">
        <div class="col-md-2 h-70 text-center" style="background-color: #38ffae; padding-right: 0; position:absolute;">
            <div class="list-group text-light w-100 h-100">
                <a style="height: 13%" href="{% url 'new_orders' %}"
                   class="btn btn-primary list-group-item text-dark mt-1  {% if 'new' in request.path %}active{% endif %}  ">
                    <div>
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                    <h6>Yangi buyurtmalar</h6>
                </a>
                <a style="height: 13%" href="{% url 'ready_orders' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if 'ready' in request.path %}active{% endif %}">
                    <div><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <h6>Dostavka tayyor</h6>
                </a>
                <a style="height: 13%" href="{% url 'delivery_orders' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if 'delivering' in request.path %}active{% endif %}">
                    <div><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <h6>Yetkazilmoqda</h6>
                </a>
                <a style="height: 13%" href="{% url 'archived_orders' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if 'archived' in request.path %}active{% endif %}">
                    <div><i class="fa fa-archive" aria-hidden="true"></i></div>
                    <h6>Arxivlandi</h6>
                </a>
                <a style="height: 13%" href="{% url 'cancelled_orders' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if 'broken' in request.path %}active{% endif %}">
                    <div><i class="fa fa-chain-broken" aria-hidden="true"></i></div>
                    <h6>Bekor qilindi</h6>
                </a>
                <a style="height: 13%" href="{% url 'delivered_orders' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if 'delivered' in request.path %}active{% endif %}">
                    <div><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                    <h6>Yetkazib berildi</h6>
                </a>
                <a style="height: 13%" href="{% url 'all' %}"
                   class="btn btn-primary list-group-item text-dark mt-1 {% if 'all' in request.path %}active{% endif %}">
                    <div>
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                    <h6>Hammasi</h6>
                </a>
            </div>
        </div>
        {% block status_content %}
        {% endblock %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
<script src="/static/app/js/regions_filter.js"></script>
<script src="{% static 'apps/vendors/fontawesome/all.min.js' %}"></script>
{% block region_district_js %}
    <script>
        $(document).ready(function () {
            $('#region-select').change(function () {
                var regionId = $(this).val();
                var $districtSelect = $('#district-select');
                $districtSelect.empty();
                $districtSelect.append('<option value="">All District</option>');

                if (regionId) {
                    $.ajax({
                        url: '/ajax/get-district/' + regionId,
                        success: function (data) {
                            $.each(data, function (index, district) {
                                $districtSelect.append('<option value="' + district.id + '">' + district.name + '</option>');
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('An error occurred:', error);
                        }
                    });
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block checkbox_js %}
{% endblock %}
</body>
</html>
