{% extends 'apps/parts/base-window.html' %}
{% load humanize %}

{% block content %}
    <style>
        .mb-4.col-md-6.col-lg-4:hover {
            box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); 
            color: #333;
            transform: scale(1.05);
            transition: all 0.3s ease;
        }
    </style>
    <div class="card mt-2 mb-2">
        <div class="card-header bg-light">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="mb-0" id="followers"></h5>
                </div>
                <div
                        class="col text-end"><a class="font-sans-serif"
                                                href="{% url 'product_list' %}">Kategoriyalar</a>
                </div>
            </div>
        </div>
        <div class="card-body bg-light px-1 py-0">
            <div class="row g-0 text-center fs--1">
                {% for category in categories %}
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100">
                            <a href="{% url 'product_by_category' category.slug %}">
                                <img class="img-thumbnail img-fluid  mb-3 shadow-sm" {% if category.image %}
                                     src="{{ category.image.url }}" alt=""{% endif %} width="100">
                            </a>
                            <h6 class="mb-1">
                                <a href="{% url 'product_by_category' category.slug %}">{{ category.name }}</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {% for product in object_list %}
                <div class="mb-4 col-md-6 col-lg-4">
                    <div class="border rounded-1 h-100 d-flex flex-column justify-content-between pb-3">
                        <div class="overflow-hidden">
                            <div class="position-relative rounded-top overflow-hidden"><a class="d-block"
                                                                                          href="{% url 'product_detail' product.slug %}"><img
                                    {% if product.image %}
                                        class="img-fluid rounded-top" src="{{ product.image.url }}" alt=""/></a><span
                                    {% endif %}
                            class="badge rounded-pill bg-success position-absolute mt-2 me-2 z-index-2 top-0 end-0"></span>
                            </div>
                            <div class="p-3">
                                <h5 class="fs-0"><a class="text-dark"
                                                    href="{% url 'product_detail' product.slug %}">{{ product.title }}</a><br><br>
                                </h5>
                                <p class="fs--1 mb-3">{{ product.category.name }}</p>
                                <h5 class="fs-md-2 text-warning mb-0 d-flex align-items-center mb-3">
                                    {{ product.price|intcomma }} so'm
                                </h5>
                                <p class="fs--1 mb-1">Shipping Cost:
                                    <strong>{{ setting.shopping_cost }} so'm</strong></p>
                                {% if product.is_in_stock %}
                                    <p class="fs--1 mb-1">Stock: <strong
                                            class="text-success">avalibale</strong>
                                    </p>
                                {% else %}
                                    <p class="fs--1 mb-1">Stock: <strong
                                            class="text" style="color: red"> sold </strong>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex flex-between-center px-3">
                            <div><span class="fa fa-star text-warning"></span><span
                                    class="fa fa-star text-warning"></span><span
                                    class="fa fa-star text-warning"></span><span
                                    class="fa fa-star text-warning"></span><span
                                    class="fa fa-star text-300"></span><span class="ms-1">(8)</span>
                            </div>
                            <div>
                                {% if user %}
                                    <a href="{% url 'click_like' product.pk %}"
                                       style="text-decoration: none; color: inherit;">
                                        <span style="position: relative;">
                                                <i class="fas fa-heart"
                                                   style="color: {% if product.is_liked %}red{% endif %}; margin-left: 10px; font-size: 15px;"></i>
                                        </span>
                                    </a>
                                {% endif %}
                                <a class="btn btn-sm btn-falcon-default"
                                   href="{% url 'product_detail' product.slug %}" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Add to Cart">
                                    <span
                                            class="fas fa-cart-plus">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-sm btn-falcon-default text-primary me-2" href="?page=1">&laquo; 1 </a>
                        <a class="btn btn-sm btn-falcon-default text-primary me-2"
                           href="?page={{ page_obj.previous_page_number }}">oldingisi</a>
                    {% endif %}

                    <span class="btn btn-sm btn-falcon-default text-primary me-2">
                            Page {{ page_obj.number }}
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-sm btn-falcon-default text-primary me-2"
                           href="?page={{ page_obj.next_page_number }}">keyingisi</a>
                        <a class="btn btn-sm btn-falcon-default text-primary me-2"
                           href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

{% endblock %}


